.countdown .image img {
    width: 850px;
    height: 510px;
}

img.custom-image-product {
    width: 100%;
    height: 520px;
    object-fit: scale-down;
}

.hero-slider .single-slider {
    background-image: url('/Content/Images/hero.png') !important;
    background-size: cover;
}

.single-slider.zoom {
    transition: transform .9s;
}

.single-slider.zoom:hover {
    -ms-transform: scale(1.3);
    webkit-transform: scale(1.3);
}

.pagination > li.active {
    background: #167DCC;
    color: white;
    cursor :pointer ;
}