@{
    ViewBag.Title = "Profile - Sneaker Store";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="breadcrumbs py-4">
    <div class="container text-left">
        <ul class="bread-list d-inline-block">
            <li class="d-inline-block text-capitalize"><a href="/">Trang chủ<i class="ti-arrow-right mx-2"></i></a></li>
            <li class="d-inline-block text-capitalize"><a href="">Hồ sơ của tôi</a></li>
        </ul>
    </div>
</div>

<section class="contact-us profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="single-head">
                    <div class="single-info">
                        <div class="d-flex flex-column align-items-center text-center mb-5">
                            <img class="rounded-circle" width="150px" src="@Url.Content("/Content/Images/avatar.jpg")">
                            <span class="font-weight-bold">Edogaru</span>
                        </div>
                        <ul>
                            <li>
                                <a href=""><i class="bi bi-receipt"></i> Lịch sử mua hàng</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ChangePassword", "Account")"><i class="bi bi-lock"></i> Đổi mật khẩu</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Logout", "Account")">
                                    <i class="bi bi-box-arrow-in-right"></i> Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="form-main">
                    <div class="title">
                        <h3>Hồ sơ của tôi</h3>
                        <p class="m-0">Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
                    </div>
                    <form class="form" method="post" action="">
                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <div class="form-group">
                                    <label>Họ và tên</label>
                                    <input name="name" type="text" placeholder="Edogary" value="Edogaru">
                                </div>
                            </div>
                            <div class="col-lg-12 col-12">
                                <div class="form-group sex">
                                    <label class="mr-4">Giới tính:</label>
                                    <div class="form-check form-check-inline mr-4 d-inline-flex  align-items-center">
                                        <input class="form-check-input" type="radio" checked="" name="flexRadioDefault" id="male" value="male">
                                        <label class="form-check-label d-inline-block ml-2" for="male">Nam</label>
                                    </div>
                                    <div class="form-check form-check-inline d-inline-flex  align-items-center">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="female" value="female">
                                        <label class="form-check-label d-inline-block ml-2" for="female">Nữ</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Số điện thoại<span>*</span></label>
                                    <input name="subject" type="text" placeholder="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label>Email<span>*</span></label>
                                    <input name="email" type="email" placeholder="">
                                </div>
                            </div>
                            <div class="col-lg-8 col-12">
                                <div class="form-group">
                                    <label>Địa chỉ<span>*</span></label>
                                    <input name="company_name" type="text" placeholder="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="form-group">
                                    <label>Tỉnh / Thành phố<span>*</span></label>
                                    <select id="company" style="display: none;">
                                        <option value="company" selected="selected">TP.Hồ Chí Minh</option>
                                        <option>Hà Nội</option>
                                        <option>Lâm Đồng</option>
                                        <option>Bến Tre</option>
                                        <option>Đồng Tháp</option>
                                        <option>Sóc Trăng</option>
                                        <option>Kiên Giang</option>
                                    </select><div class="nice-select" tabindex="0"><span class="current">TP.Hồ Chí Minh</span><ul class="list"><li data-value="company" class="option selected">TP.Hồ Chí Minh</li><li data-value="Hà Nội" class="option">Hà Nội</li><li data-value="Lâm Đồng" class="option">Lâm Đồng</li><li data-value="Bến Tre" class="option">Bến Tre</li><li data-value="Đồng Tháp" class="option">Đồng Tháp</li><li data-value="Sóc Trăng" class="option">Sóc Trăng</li><li data-value="Kiên Giang" class="option">Kiên Giang</li></ul></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group button">
                                    <button type="submit" class="btn">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>